<div class = "row">
    <div class= "col-12">
        <h2 class="text-center">Welcome to the Tech Blog! 🖥️</h2>
        <p class="text-center">The Tech Blog offers an interactive space for engaging with fellow technology enthusiasts, where you can both explore posts from other users and contribute your own content.</p>
    </div>
</div>

<div class="col-md-6">
    <h3>Create a New Blog:</h3>

    <form class="form new-blog-form">
      <div class="form-group">
        <labelb for="blog-name">blog title:</labelb>
        <input class="form-input" type="text" id="blog-name" name="blog-name" />
      </div>
     
      <div class="form-group">
        <labeld for="blog-desc">description:</labeld>
        <textarea class="form-input" id="blog-desc" name="blog-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
  <div class="container blogBox">
    <div class="row header">
    <div class="col-8" >

     <h2 class="text-recent-center">Recent Posts: ✍🏻</h2>
    </div>
</div>
<div class="col-md-6">
<div class="row">
    <div class="col-8 blog-list">
        {{#each blogs}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{content}}</p>
                    <p class="card-text">{{format_date date_created}}</p>
                    <p class="card-text">{{user.username}}</p>
                  
                  <a href="/edit/{{id}}"><button class="btn btn-primary" id="edit">Edit</button></a>   
                <button class="btn btn-danger" data-blog_id={{id}} id="delete">Delete</button>
                </div>
            </div>
        {{/each}}
    </div>
</div>

<script src="/js/dashboard.js"></script>

    
                    